In [1]:
import pandas as pd
from numpy import sqrt

In [2]:
df = pd.read_csv('shots_data.csv')
df.head()

     team     x     y  fgmade
0  Team A  -5.0  26.4       0
1  Team A  -0.8   1.2       1
2  Team A -13.9   9.5       1
3  Team A  -5.4  26.2       0
4  Team A  -4.9  14.5       1

In [3]:
y = df.y
x = df.x
df.loc[(y<= 7.8) & (abs(x) <= 22) , 'SD'] = '2PT'
df.loc[(y<= 7.8) & (abs(x) > 22) , 'SD'] = 'C3'
df.loc[(y> 7.8) & (sqrt(x ** 2 + y** 2) <= 23.75) , 'SD'] = '2PT'
df.loc[(y> 7.8) & (sqrt(x ** 2 + y** 2) > 23.75) , 'SD'] = 'NC3'
df.loc[(y> 7.8) & (abs(x) > 22) , 'SD'] = 'NC3'

In [4]:
df.head()

     team     x     y  fgmade   SD
0  Team A  -5.0  26.4       0  NC3
1  Team A  -0.8   1.2       1  2PT
2  Team A -13.9   9.5       1  2PT
3  Team A  -5.4  26.2       0  NC3
4  Team A  -4.9  14.5       1  2PT

In [5]:
A = df[df.team == "Team A"]
B = df[df["team"] == "Team B"]

In [6]:
A.head()

     team     x     y  fgmade   SD
0  Team A  -5.0  26.4       0  NC3
1  Team A  -0.8   1.2       1  2PT
2  Team A -13.9   9.5       1  2PT
3  Team A  -5.4  26.2       0  NC3
4  Team A  -4.9  14.5       1  2PT

In [7]:
B.head()

       team     x     y  fgmade   SD
280  Team B  -2.9  16.7       0  2PT
281  Team B  10.3  24.7       0  NC3
282  Team B  -3.5   5.3       1  2PT
283  Team B   0.9   1.5       0  2PT
284  Team B  22.8  -1.5       0   C3

In [8]:
A.shape[0]

280

In [9]:
B.shape[0]

224

In [10]:
A_dist = A['SD'].value_counts()
A_dist

2PT    194
NC3     68
C3      18
Name: SD, dtype: int64

In [11]:
B_dist = B['SD'].value_counts()
B_dist

2PT    151
NC3     62
C3      11
Name: SD, dtype: int64

In [12]:
A_2PT = A_dist["2PT"] /A.shape[0]
A_C3 = A_dist["C3"] /A.shape[0]
A_NC3 = A_dist["NC3"] / A.shape[0]
print ("fraction of A of 2PT",  A_2PT)
print ("fraction of A of C3", A_C3)
print ("fraction of A of NC3", A_NC3)

fraction of A of 2PT 0.6928571428571428
fraction of A of C3 0.06428571428571428
fraction of A of NC3 0.24285714285714285

In [13]:
B_2PT = B_dist["2PT"] /B.shape[0]
B_C3 = B_dist["C3"] /B.shape[0]
B_NC3 = B_dist["NC3"] / B.shape[0]
print ("fraction of B of 2PT",  B_2PT)
print ("fraction of B of C3", B_C3)
print ("fraction of B of NC3", B_NC3)

fraction of B of 2PT 0.6741071428571429
fraction of B of C3 0.049107142857142856
fraction of B of NC3 0.2767857142857143

In [14]:
a ={'A Distribution': ["2P","NC3", "C3"],
   'Percentage of Shots': [f'{(A_2PT):.3%}', f'{(A_NC3):.3%}', f'{(A_C3):.3%}'] }
dfa = pd.DataFrame(a)
dfa

  A Distribution Percentage of Shots
0             2P             69.286%
1            NC3             24.286%
2             C3              6.429%

In [15]:
b = [['2P', f'{(B_2PT):.3%}'], ['C3', f'{(B_C3):.3%}'], ['NC3', f'{(B_NC3):.3%}']]
dfb = pd.DataFrame(b, columns = ['B Distribution', 'Percentage of Shots'])
dfb

  B Distribution Percentage of Shots
0             2P             67.411%
1             C3              4.911%
2            NC3             27.679%

In [16]:
df_A_2PT = A[A['SD'] == '2PT']
df_A_NC3 = A[A['SD'] == 'NC3']
df_A_C3 = A[A['SD'] == 'C3']

df_B_2PT = B[B['SD'] == '2PT']
df_B_NC3 = B[B['SD'] == 'NC3']
df_B_C3 = B[B['SD'] == 'C3']

In [17]:
A_FGA_2PT = df_A_2PT.shape[0]
A_FGA_NC3 = df_A_NC3.shape[0]
A_FGA_C3 = df_A_C3.shape[0]
print ('FGA - A - 2PT -', A_FGA_2PT)
print ('FGA - A - NC3 -', A_FGA_NC3)
print ('FGA - A - C3 -', A_FGA_C3)

FGA - A - 2PT - 194
FGA - A - NC3 - 68
FGA - A - C3 - 18

In [18]:
B_FGA_2PT = df_B_2PT.shape[0]
B_FGA_NC3 = df_B_NC3.shape[0]
B_FGA_C3 = df_B_C3.shape[0]
print ('FGA - B - 2PT -', B_FGA_2PT)
print ('FGA - B - NC3 -', B_FGA_NC3)
print ('FGA - B - C3 -', B_FGA_C3)

FGA - B - 2PT - 151
FGA - B - NC3 - 62
FGA - B - C3 - 11

In [19]:
A_ = A['fgmade'].value_counts()
A_2PT = df_A_2PT['fgmade'].value_counts()
A_NC3 = df_A_NC3['fgmade'].value_counts()
A_C3 = df_A_C3['fgmade'].value_counts()
B_ = B['fgmade'].value_counts()
B_2PT = df_B_2PT['fgmade'].value_counts()
B_NC3 = df_B_NC3['fgmade'].value_counts()
B_C3 = df_B_C3['fgmade'].value_counts()

In [20]:
print ('Total (0 = Miss, 1 = Make):')
print ("All Zone")
print("A:")
print(A_)
print("B:")
print(B_)

Total (0 = Miss, 1 = Make):
All Zone
A:
0    155
1    125
Name: fgmade, dtype: int64
B:
0    132
1     92
Name: fgmade, dtype: int64

In [21]:
print ("2PT Zone")
print("A:")
print(A_2PT)
print("B:")
print(B_2PT)

2PT Zone
A:
0    99
1    95
Name: fgmade, dtype: int64
B:
0    84
1    67
Name: fgmade, dtype: int64

In [22]:
print ("NC3 Zone")
print("A:")
print(A_NC3)
print("B:")
print(B_NC3)

NC3 Zone
A:
0    47
1    21
Name: fgmade, dtype: int64
B:
0    41
1    21
Name: fgmade, dtype: int64

In [23]:
print ("C3 Zone")
print("A:")
print(A_C3)
print("B:")
print(B_C3)

C3 Zone
A:
0    9
1    9
Name: fgmade, dtype: int64
B:
0    7
1    4
Name: fgmade, dtype: int64

In [24]:
A_[1]

125

In [25]:
B_[1]

92

In [26]:
A_FGM_2PT = A_2PT[1]
A_FGM_NC3 = A_NC3[1]
A_FGM_C3 = A_C3[1]
print("Team A :", A_[1])
print("2PT Zone:", A_FGM_2PT)
print("NC3 Zone:", A_FGM_NC3)
print("C3 Zone:", A_FGM_C3)

Team A : 125
2PT Zone: 95
NC3 Zone: 21
C3 Zone: 9

In [27]:
B_FGM_2PT = B_2PT[1]
B_FGM_NC3 = B_NC3[1]
B_FGM_C3 = B_C3[1]
print("Team B :", B_[1])
print("2PT Zone:", B_FGM_2PT)
print("NC3 Zone:", B_FGM_NC3)
print("C3 Zone:", B_FGM_C3)

Team B : 92
2PT Zone: 67
NC3 Zone: 21
C3 Zone: 4

In [28]:
A_3 = A[(A['fgmade'] == 1) & ((A['SD'] == "C3") | (A['SD'] == "NC3"))]
B_3 = B[(B['fgmade'] == 1) & ((B['SD'] == "C3") | (B['SD'] == "NC3"))]

A_3PM = A_3.shape[0]
A_3PM_NC3 = A_3[A_3['SD'] == "NC3"].shape[0]
A_3PM_C3 = A_3[A_3['SD'] == "C3"].shape[0]
A_3PM_2PT = A_3[A_3['SD'] == "2PT"].shape[0]

In [29]:
print("Team A : 3pt Made")
print(A_3PM)

Team A : 3pt Made
30

In [30]:
print("Team A : 3pt Made(2PT Zone)")
print(A_3PM_2PT)

Team A : 3pt Made(2PT Zone)
0

In [31]:
print("Team A : 3pt Made(NC3 Zone)")
print(A_3PM_NC3)

Team A : 3pt Made(NC3 Zone)
21

In [32]:
print("Team A : 3pt Made(C3 Zone)")
print(A_3PM_C3)

Team A : 3pt Made(C3 Zone)
9

In [33]:
B_3PM = B_3.shape[0]
B_3PM_NC3 = B_3[B_3['SD'] == "NC3"].shape[0]
B_3PM_C3 = B_3[B_3['SD'] == "C3"].shape[0]
B_3PM_2PT = B_3[B_3['SD'] == "2PT"].shape[0]

In [34]:
print("Team B : 3pt Made")
print(B_3PM)

Team B : 3pt Made
25

In [35]:
print("2PT Zone")
print(B_3PM_2PT)

2PT Zone
0

In [36]:
print("NC3 Zone")
print(B_3PM_NC3)

NC3 Zone
21

In [37]:
print("C3 Zone")
print(B_3PM_C3)

C3 Zone
4

In [38]:
e_a = (A_[1] + ((0.5*A_3PM))) / A.shape[0]
e_a_2PT = (A_FGM_2PT + ((0.5*A_3PM_2PT))) / A_FGA_2PT
e_a_NC3 = (A_FGM_NC3 + ((0.5*A_3PM_NC3))) / A_FGA_NC3
e_a_C3 = (A_FGM_C3 + ((0.5*A_3PM_C3))) / A_FGA_C3

In [39]:
e_b = (B_[1] + ((0.5*B_3PM))) / B.shape[0]
e_b_2PT = (B_FGM_2PT + ((0.5*B_3PM_2PT))) / B_FGA_2PT
e_b_NC3 = (B_FGM_NC3 + ((0.5*B_3PM_NC3))) / B_FGA_NC3
e_b_C3 = (B_FGM_C3 + ((0.5*B_3PM_C3))) / B_FGA_C3

In [40]:
print (f'A - All FG: {e_a}')
print (f'A - 2PT FG: {e_a_2PT}')
print (f'A - NC3 FG: {e_a_NC3}')
print (f'A - C3 FG: {e_a_C3}')

A - All FG: 0.5
A - 2PT FG: 0.4896907216494845
A - NC3 FG: 0.4632352941176471
A - C3 FG: 0.75

In [41]:
print (f'B - All FG: {e_b}')
print (f'B - 2PT FG: {e_b_2PT}')
print (f'B - NC3 FG: {e_b_NC3}')
print ('B - C3 FG: {}'.format(e_b_C3))

B - All FG: 0.46651785714285715
B - 2PT FG: 0.44370860927152317
B - NC3 FG: 0.5080645161290323
B - C3 FG: 0.5454545454545454

In [42]:
data = [['Team A', f'{(round(e_a, 3))}', f'{(round(e_a_2PT, 3))}', f'{(round(e_a_NC3, 3))}', f'{(round(e_a_C3, 3))}'], 
        ['Team B', f'{(round(e_b, 3))}', f'{(round(e_b_2PT, 3))}', f'{(round(e_b_NC3, 3))}', f'{(round(e_b_C3, 3))}']]
df2 = pd.DataFrame(data, columns = ['Team', 'All FG', '2PT FG', 'NC3 FG', 'C3 FG'])
df2

     Team All FG 2PT FG NC3 FG  C3 FG
0  Team A    0.5   0.49  0.463   0.75
1  Team B  0.467  0.444  0.508  0.545